* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d2d3d3;
}

.header {
  padding: 20px;
  font-family: 'helvetica', cursive, sans-serif;
  background-color: #2d3032;
  color: #9615db;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header section {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', cursive, sans-serif;
  font-size: 20px;
}

.header section ul {
  list-style-type: none;
}

.header section ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #9615db;
  text-decoration: none;
}

p {
  font-size: 30px;
}

.background {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/keyboard.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

img.project {
  margin-left: 25px;
}

.content {
  width: 98%;
  margin-left: 20px;
}

.about-me {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', cursive, sans-serif;
  background-color: #7d7f80;
  color: #ffffff;
}

.my-work {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', cursive, sans-serif;
  background-color: #7d7f80;
  color: #ffffff;
}

.contact-me {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', cursive, sans-serif;
  background-color: #7d7f80;
  color: #ffffff;
}

.about-me img {
  max-height: 200px;
}

.my-work img {
  max-height: 200px;
}


.contact-me img {
  max-height: 200px;
}

.about-me h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.my-work h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.contact-me h2 {
  display: flex;
  margin-bottom: 20px;
  font-size: 36px;
}


.footer {
  padding: 30px;
  clear: both;
  font-family: 'Gill Sans', cursive, sans-serif;
  text-align: center;
  font-size: 20px;
}

a:hover {
  font-weight: bold;
  background-color: #2d3032;
}

section article.my-work  {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  justify-content: space-around;
}

section header.facebook a {
  display: flex;
  flex: 2;
}

@media screen and (max-width: 992px) {
  div.parts {
    flex-shrink:inherit;
  }   
}
@media screen and (max-width: 768px) {
  div.parts {
    flex-shrink:inherit;
  }
}

@media screen and (max-width: 768px) {
 .header {
  display: none;
 } 
}