* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d2d3d3;
}

.header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2d3032;
  color: #9615db;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header section {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header section ul {
  list-style-type: none;
}

.header section ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #9615db;
  text-decoration: none;
}

p {
  font-size: 16px;
}

.hero {
  height: 400px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/keyboard.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 98%;
  display: inline-block;
  margin-left: 20px;
}

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #2589bd;
}

.benefit-lead {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-brand {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-lead h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-brand h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-lead img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-brand img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.about-me {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #7d7f80;
  color: #ffffff;
}

.my-work {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #7d7f80;
  color: #ffffff;
}

.contact-me {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #7d7f80;
  color: #ffffff;
}

.about-me img {
  max-height: 200px;
}

.my-work img {
  max-height: 200px;
}

.contact-me img {
  max-height: 200px;
}

.about-me h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.my-work h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.contact-me h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}

a:hover {
  font-weight: bold;
}


/* * {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fffbf0;
  box-sizing: border-box;
}

div.mainhead {
  display: flex;
  justify-content:flex-end;
  background-color: aqua;
} */

/* h1 { 
  color: black;
  background: #e4ddf4;
  width: 100%;
  font-size: 40px;
  text-align: left;
  padding: 40px;
  padding-left: 10px;
}

ul {
  list-style-type: none;
  background-color: transparent;
  display: inline;
  text-align: right;
}


p {
  background-color: #e4ddf4;
}

li {
  background-color: #943d24;
  padding: 10px;
}

a {
  background-color: #943d24;
  color: black;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

a:active {
  text-decoration: none;
}

nav {
  display:flex;
  align-content: center;
  background-color: #943d24;
}


 */
